.LoginForm{
    text-align: center;
    padding: 15px;
    line-height: 2;
}
.Question{
    text-align: center;
    padding: 15px;
    line-height: 2;
}
.Registration{
    text-align: center;
    padding: 15px;
    line-height: 2;
}
.quest{
    text-align: center;
    padding: 15px;
    line-height: 2;
}
.regis{
    text-align: center;
    padding: 15px;
    line-height: 2;
}
.BTN{
    background-color: burlywood;

    color: white;
    padding: 5px 15px;
    text-align: center;
    font-size: 18px;
}
h1{
    font-size: xx-large;
}
body{
   background-color: antiquewhite;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: chocolate;
    border-style: solid;


}
#nav_menu{
    text-align: center;
    list-style-type:none;
    margin: 0;
    padding: 0;
    position: relative;

}
#nav_menu >li{
  display:inline-block;
    margin-right: 12px;

}
.testing{
    text-align: center;
}

.deleteBTN{

}
a {
    text-align: center;
    background-color: red;
    box-shadow: 0 3px 0 darkred;
    color: white;
    padding: .1em .1em;
    text-decoration: none;
    text-transform: uppercase;


}
a:hover {
    cursor: pointer;
}
.BTN:hover{
    cursor:pointer;
}
.form{

    text-align: center;

}
#usersquest{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
#allquest{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

